exports.config = {
    host: '0.0.0.0',
    port: 28777,
/*** Basic Auth ***
    auth: {
        user: "user",
        pass: "supersecurepassword"
    },
*/
/*** IP Whitelisting ***
    restrictHTTP: [
      "192.168.0.1",
      "10.0.*"
    ],
*/
}
